<h1>Evento: <%= @event.name %></h1>

<p>Data: <%= @event.date.strftime("%d/%m/%Y") %></p>

<p>Local: <%= @event.location %></p>

<p><%= @event.description %></p>

<% if @event.owned_by?(current_user) %>
  <%= link_to "Editar", edit_event_path(@event), class: "btn btn-primary" %>
  <%= link_to "Apagar", @event, method: :delete, class: "btn btn-danger" %>
<% end %>

<h2>Participantes:</h2>

<% @event.attendants.each do |attendant| %>
  <p><strong>Email:</strong> <%= attendant.email %></p>
<% end %>


<% if @event.attended_by?(current_user) %>
  <p>Você está inscrito</p>
<% else %>
  <p><%= link_to 'Me inscrever', event_attendants_path(@event), method: :create, class: 'btn btn-success'  %></p>
<% end %>
