<h1>Evento: <%= @event.name %></h1>

<p>Data: <%= @event.date.strftime("%d/%m/%Y") %></p>

<p>Local: <%= @event.location %></p>

<p><%= @event.description %></p>

<%= link_to "Editar evento", edit_event_path(@event), class: 'btn btn-primary' %>
<%= link_to "Apagar evento", @event, method: :delete, class: 'btn btn-danger' %>
